html {
  background-color: #ecd3bd;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  font-family: "Times New Roman";
  color: #465352;
  font-size: 4em;
  font-weight: bold;
}

div > p {
  padding-top: 40px;
  margin: auto;
  font-family: "Courier New";
  color: #465352;
  font-size: 1em;
  font-weight: normal;
}

div {
  display: block;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Courier";
  color: #465352;
  font-size: 1em;
  font-weight: normal;
}

p {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.center
{
  display: block;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 60px;
  font-family: "Courier";
  color: #465352;
  font-size: 1em;
  font-weight: normal;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
